 
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
   }
   
   header{
       background-color: rgb(116, 6, 206);
       color: rgb(131, 7, 156);
       text-align: center;
       padding: 0;
   }
   nav{
       margin: 0;
       color: rgb(221, 9, 175);
       float: right;
   }
   footer{
       background-color: rgb(210, 30, 99);
       color: rgb(8, 92, 167);
       margin: 0;
       text-align: center;
   }
   #logo {
       width: 100px;
       height: 100px;
       float: left;
       margin-right: 10px;
       }
   a{
       color: rgb(108, 30, 210);
   }
   tbody tr:nth-child(even) {
       background-color: rgb(123, 8, 146);
   }
   tbody tr:nth-child(odd){
       background-color: rgb(90, 5, 160);
   }